# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore example files
examples/*.xlsx

# ignore the univer starter kits
univer-pro-sheet-start-kit/
univer-mcp-start-kit/
univer-server/

# dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
